*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 1rem;
}

.display-curr-player {
  margin-bottom: 1rem;
}

.hands-wrapper {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-inline: auto;
}

h2 {
  margin-block: 1rem;
}

.computers-hand p,
.players-hand p {
  cursor: pointer;
  display: inline;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.draw-pile span {
  cursor: pointer;
}

.message,
.draw-pile {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.5rem;
}

.books-field {
  min-height: 250px;
  width: 90%;
  margin-inline: auto;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.books-field > * {
  flex: 1;
}

.books-field legend {
  font-weight: bold;
  font-size: 1.5rem;
}

.inner-field {
  min-height: 200px;
}

.inner-field p {
  cursor: pointer;
}
